# Vscode
**/.vscode/**
**/.vscode-extensions/**
# Pycharm
.idea
# Python
.venv/**
**/__pycache__/**
# Planet plugin
planet_explorer/extlibs
pyq5-examples
planet_explorer*.zip
bundles-util.js
qgis_resources.py
# Nixos Direnv Dev Environment
.env
.envrc
.privoxy-config
.privoxy-cache/ca-key.pem
.privoxy-cache/ca-cert.pem
.privoxy.pid
scripts/list_proxies.py
codeql-db
.claude
.pac-server.pid
proxy.pac
core
shell.nix
# Log files
vscode.log
.pip-install.log
# Local development files
Makefile
# Antigravity
.antigravity/**
.antigravity-extensions/**
antigravity.log
# Secrets
**/.secrets
